@page "/"
@using BlazorWebServer.Shared;
@inject IHttpClientFactory Factory

<PageTitle>GitHub Traffic</PageTitle>

<button id="githubtraffic" @onclick="OnClick">Get</button>

@if (forecasts == null)
{
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Repos</th>
                <th>Views</th>
                <th>Clones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast?.Name</td>
                    <td>@forecast?.Views</td>
                    <td>@forecast?.Clones</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private GitHub[]? forecasts;
    private HttpClient _client;
    protected override async Task OnInitializedAsync()
    {
        _client = Factory.CreateClient("GitHub");
        await base.OnInitializedAsync();
    }
    private async Task OnClick(MouseEventArgs e)
    {
        forecasts = await _client.GetFromJsonAsync<GitHub[]>("api/GitHub");
    }
}